@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.variable-image {
  width: 100%;
}

.variable-image .image {
  object-fit: contain;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.variable-image span {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}
